/* Loading */
body > .initialization.row {
    margin-top: 200px;
}

/* Top and left application frame styles */
body > .navbar {
    margin-bottom: 0;
}

body > .container-fluid > .row > .col-md-9 {
    padding: 25px;
}

body > .container-fluid > .row > .col-md-9 > form > .panel-default {
    margin-bottom: 0;
}

body > .container-fluid > .row > .col-md-9 > form > .panel-default > .panel-body {
    overflow-y: scroll;
}

body > .container-fluid > .row > .col-md-9 > form > .panel-default > .panel-footer > button {
    margin-left: 10px;
}

body > .container-fluid > .row > .col-md-9 > form > .panel-default > .panel-footer > button.pull-left {
    margin-left: 0;
}

body > .container-fluid > .row > .col-md-3 {
    padding-left: 0;
    padding-right: 0;
}

body > .container-fluid > .row > .col-md-3 > .list-group-container {
    overflow-y: scroll;
    border-right: 1px solid #ddd;
}

body > .container-fluid > .row > .col-md-3 > .list-group-container > .list-group {
    margin-bottom: 0;
}

body > .container-fluid > .row > .col-md-3 > .list-group-container > .list-group > .list-group-item:first-child {
    border-top: none;
}

body > .container-fluid > .row > .col-md-3 > .list-group-container > .list-group > .list-group-item {
    border-right: 0;
    border-radius: 0;
}

/* Contact editing pane styles */
