<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header navbar-left">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-user"></span>
                Contacts
            </a>
        </div>

        <div class="navbar-right">
            <a href="#profiles/new" type="button" class="btn btn-primary navbar-btn">
                <span class="glyphicon glyphicon-plus"></span>
                Create
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group-container">
                <div class="list-group"></div>
            </div>
        </div>
        <div class="col-md-9">
        </div>
    </div>
</div>
