<form class="form-horizontal" role="form">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h3 class="panel-title">Contact Details</h3>
        </div>
        <div class="panel-body">
                <div class="form-group">
                    <label for="firstname" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First name" value="<%- profile.get('firstname') %>" maxlength="50" required>
                    </div>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last name" value="<%- profile.get('lastname') %>" maxlength="50" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="<%- profile.get('email') %>" maxlength="100" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="city" class="col-sm-2 control-label">Location</label>
                    <div class="col-sm-8">
                         <input type="text" class="form-control" id="city" name="city" placeholder="City" value="<%- profile.get('city') %>" maxlength="50" required>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="state" name="state" placeholder="State" value="<%- profile.get('state') %>" maxlength="2" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="sex" class="col-sm-2 control-label">Sex</label>
                    <div class="col-sm-10">
                        <div class="radio">
                            <label>
                                <input type="radio" id="sexm" name="sex" value="M"<%- ['M', undefined, ''].indexOf(profile.get('sex')) !== -1 ? ' checked="checked"' : ''  %>>
                                Male
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="sexf" name="sex" value="F"<%- profile.get('sex') === 'F' ? ' checked="checked"' : ''  %>>
                                Female
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="hobbies" class="col-sm-2 control-label">Hobbies</label>
                    <div class="col-sm-10">
                        <label class="checkbox-inline">
                            <input type="checkbox" id="hobbiescycling" name="hobbies" value="cycling"<%- profile.get('hobby_cycling') === 1 ? ' checked="checked"' : '' %>> Cycling
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="hobbiesfrisbee" name="hobbies" value="frisbee"<%- profile.get('hobby_frisbee') === 1 ? ' checked="checked"' : '' %>> Frisbee
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="hobbiesskiing" name="hobbies" value="skiing"<%- profile.get('hobby_skiing') === 1 ? ' checked="checked"' : '' %>> Skiing
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="comments" class="col-sm-2 control-label">Comments</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="comments" id="comments" rows="3" maxlength="4294967295"><%- profile.get('comments') %></textarea>
                    </div>
                </div>
        </div>
        <div class="panel-footer clearfix">
            <button type="reset" class="btn btn-default btn-sm pull-left">
                Reset
            </button>
            <button type="submit" class="btn btn-success btn-sm pull-right">
                <span class="glyphicon glyphicon-cloud-upload"></span>
                Save
            </button>
<% if (profile.get('id')) { %>
            <button type="button" class="btn btn-danger btn-sm pull-right"  data-toggle="modal" data-target="#confirmDelete">
                <span class="glyphicon glyphicon-remove"></span>
                Delete
            </button>
<% } %>
        </div>
        <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="confirmDeleteLabel">Are you sure?</h4>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this record? This action cannot be undone.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger btn-primary confirmed-delete">
                            <span class="glyphicon glyphicon-remove"></span>
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
