<h4 class="list-group-item-heading"><%- profile.get('lastname') %>, <%- profile.get('firstname') %></h4>
<ul class="list-group-item-text list-unstyled">
    <li>
        <span class="glyphicon glyphicon-map-marker"></span> <%- profile.get('city') %>, <%- profile.get('state') %>
    </li>
    <li>
        <span class="glyphicon glyphicon-envelope"></span> <%- profile.get('email') %>
    </li>
</ul>
